
html {
  font-size: 25px;
  background: url('./images/image1.jpg');
  background-size: cover;
 
container {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#quoteContainer {
  margin-top: 30px;
  text-align: left;
}